<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.org.outlast" >

    <application
        android:name=".core.entity.GoodsList"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".ui.view.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ui.start_animation.PreAnimationActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >

        </activity>
        <activity
            android:name=".ui.view.desk_prompt"
            android:label="@string/title_activity_desk_prompt"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.view.Secret_pic_feature"
            android:label="@string/title_activity_secret_pic_feature"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.view.Bed_lettering"
            android:label="@string/title_activity_bed_lettering"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.view.Deposit"
            android:label="@string/title_activity_deposit"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.view.graphics.SecretPackage"
            android:label="@string/title_activity_secret_package"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name=".ui.view.graphics.Drier"
            android:label="@string/title_activity_drier"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ui.view.graphics.SecretError"
            android:label="@string/title_activity_secret_error"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.view.TheEndLettering"
            android:label="@string/title_activity_the_end_lettering"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ui.view.mirror_hidden_thing"
            android:label="@string/title_activity_mirror_hidden"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ui.view.EndActivity"
            android:label="@string/title_activity_end"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ui.view.LetteringDesk"
            android:label="@string/title_activity_lettering_desk"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ui.view.Shovel"
            android:label="@string/title_activity_shovel"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ui.view.Ring"
            android:label="@string/title_activity_ring"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ui.view.RingBig"
            android:label="@string/title_activity_ring_big"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ui.view.MirrorPrompt"
            android:label="@string/title_activity_mirror_prompt"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ui.view.DoorPrompt"
            android:label="@string/title_activity_door_prompt"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ui.view.SecretKeyboard"
            android:label="@string/title_activity_secret_keyboard"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
