<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.org.outlast" >

    <application
        android:name=".core.entity.GoodsList"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".ui.view.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>

        <activity
            android:name=".ui.start_animation.PreAnimationActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity
            android:name=".ui.view.desk_prompt"
            android:label="@string/title_activity_desk_prompt"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.view.Secret_pic_feature"
            android:label="@string/title_activity_secret_pic_feature"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.view.Bed_lettering"
            android:label="@string/title_activity_bed_lettering"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.view.Deposit"
            android:label="@string/title_activity_deposit"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.view.graphics.SecretPackage"
            android:label="@string/title_activity_secret_package" >
        </activity>
        <activity
            android:name=".ui.view.graphics.Drier"
            android:label="@string/title_activity_drier" >
        </activity>
        <activity
            android:name=".ui.view.graphics.SecretError"
            android:label="@string/title_activity_secret_error"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.view.TheEndLettering"
            android:label="@string/title_activity_the_end_lettering" >
        </activity>
        <activity
            android:name=".ui.view.mirror_hidden_thing"
            android:label="@string/title_activity_mirror_hidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
    </application>

</manifest>
